In [29]:
import sqlite3
from sqlite3 import Error

In [36]:
def sql_connection(dbase):
    try:
        con = sqlite3.connect(dbase)
        return con
    except Error:
        print(Error)
        
   # finally:
   #     con.close()

In [61]:
def sql_table(con, create_sql):
    cursorObj = con.cursor()
    cursorObj.execute(create_sql)
    con.commit()

In [37]:
con = sql_connection('FlightDatabase.db')

In [ ]:
create_sql =
"""
CREATE TABLE FlightLeg(
id integer PRIMARY KEY, 
tailNumber  text, 
sourceAirportCode real, 
destinationAirportCode text, 
sourceCountryCode text, 
destinationCountryCode text,
departureTimeUtc text,
landingTimeUtc text
)
"""

In [62]:
create_sql="""
CREATE TABLE test(
id integer PRIMARY KEY, 
tailNumber  text
)
"""

In [63]:
sql_table(con,create_sql )

In [80]:
def sql_insert(con, insert_sql):
    cursorObj = con.cursor()    
    cursorObj.execute(insert_sql)
    con.commit()

In [86]:
entities = (1, '2', 3, '4', '5', '6', '7', '8')
insert_sql = f"""
INSERT INTO FlightLeg(
id, 
tailNumber, 
sourceAirportCode, 
destinationAirportCode, 
sourceCountryCode, 
destinationCountryCode,
departureTimeUtc,
landingTimeUtc) 
VALUES(?, ?, ?, ?, ?, ?, ?, ?)', {entities}
"""

In [87]:
insert_sql

"\nINSERT INTO FlightLeg(\nid, \ntailNumber, \nsourceAirportCode, \ndestinationAirportCode, \nsourceCountryCode, \ndestinationCountryCode,\ndepartureTimeUtc,\nlandingTimeUtc) \nVALUES(?, ?, ?, ?, ?, ?, ?, ?)', (1, '2', 3, '4', '5', '6', '7', '8')\n"

In [103]:
entities = (2, 'text2')
insert_sql = f"""
INSERT INTO test
VALUES{entities}
"""

In [104]:
insert_sql

"\nINSERT INTO test\nVALUES(2, 'text2')\n"

In [105]:
sql_insert(con, insert_sql)

In [99]:
def sql_fetch(con, select_sql):
    cursorObj = con.cursor()
    cursorObj.execute(select_sql)
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)

In [107]:
select_sql= """
SELECT name 
from sqlite_master 
where type= "table";
"""

In [101]:
select_sql= """
SELECT * 
FROM test 
WHERE 1=1;
"""

In [108]:
print(sql_fetch(con, select_sql))

('FlightLeg',)
('test',)
None